<div class="row text-right marketing">
  <a ng-href="#/post" class="btn btn-default"> 
  	<span class="glyphicon glyphicon-plus"></span> Add
  </a>
</div>
<div class="row content" ng-hide="!(posts.length > 0)" ng-repeat="post in posts">
	<h4>{{post.title}}</h4>
	<hr />
	<p>
	  {{post.content}}
	<p/>
	<div class="btn-group">
		<a class="btn btn-default" ng-href="#/post/{{post.id}}">
		<span class="glyphicon glyphicon-pencil"></span>
		</a>
		<a class="btn btn-default" ng-click="deletePost(post)">
		<span class="glyphicon glyphicon-trash"></span>
		</a>
	</div>
</div>
